<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%} | MEMERS</title>
    <link rel="stylesheet" href="{%static 'css/auth.css'%}"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet"/>
    <script src="{%static 'js/signup(a2).js'%}"></script>
    <script src="https://kit.fontawesome.com/394111977c.js" crossorigin="anonymous"></script>
</head>

<style>
    body {
        background-image: url({%static 'img/bg/0.jpg'%});
    }

    
</style>

<body>
    {%block body %}
    {%endblock%}
</body>
</html>